.chat-box a,
.chat-box li {
  text-decoration: none;
  color: var(--color-black);
  border-radius: 5px;
}

.chat-box li:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.11);
  background-color: var(--color-lightTheme);
  cursor: pointer;
}
