.status-bar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.897);
}

.status-bar__colum {
  width: 33%;
  display: flex;
  align-items: center;
}
.status-bar__colum:first-child span {
  margin-right: 5px;
}
.status-bar__colum:nth-child(2) {
  justify-content: center;
}

.status-bar__colum:last-child {
  justify-content: flex-end;
}

.status-bar__colum:last-child span {
  margin: 0px 5px;
}

.fa-bluetooth {
  color: rgb(4, 4, 158);
}

.fa-bolt {
  /* color: rgb(77, 194, 62); */
  margin-left: 5px;
  animation: splashScreen 4s linear infinite;
}
