@import "status.css";

.welcom-box {
  /* width: 100%; */
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 150px 0px 50px 0px;
  /* background-color: aqua; */
}

.welcom-box__title {
  font-size: var(--font-medium);
}

.welcom-box__text {
  width: 60%;
  font-size: var(--font-small);
  color: var(--color-grayfont);
}

.access-box {
  /* width: 100%; */
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 15px;
  /* background-color: bisque; */
}

.access-box__form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.access-box__form input {
  outline: none;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.315) 1px;
  padding: 10px 0px;
  margin: 5px 0px;
}

.access-box__join,
.access-box__form input:last-child {
  outline: none;
  border: none;
  padding: 8px 0px;
  font-size: var(--font-small);
  cursor: pointer;
}

.access-box__hyperlink {
  text-align: center;
  font-size: var(--font-smaller);
  color: var(--color-black);
  text-decoration: none;
}

/* animation */

.access-box__form input:hover {
  border-color: var(--color-theme);
}

.access-box__form input:last-child:hover {
  background-color: var(--color-theme);
  color: var(--color-white);
}
.access-box__join:hover {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.access-box__hyperlink:hover {
  color: var(--color-theme);
  font-weight: bold;
}

#splashee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  color: aliceblue;
  background-color: var(--color-theme);
  animation: splashScreen 2s ease-in-out forwards;
  /* animation-delay: 1s; */
}
